@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}
.page-container {
  display: flex;
  flex-direction: column;
}

.containerLogoInput {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  flex-grow: 1;
}
.containerHeadFoot {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-shrink: 0;
  padding: 10px;

}

.footer
{
  display: flex;
  flex-direction: row;
  background-color: darkgray;
  justify-content: space-between;
  color: #eeeeee;
  flex-shrink: 0;
  position: fixed;
  bottom: 0;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;


}

a
{
  text-decoration: none;
  color: lightgray;
}
.left-links
{
 display: flex;
  flex-direction: row;
  gap: 10px;
  list-style-type: none;

}
.right-links
{
  display: flex;
  flex-direction: row;
  gap: 10px;
  list-style-type: none;
}
button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  font-weight: bolder;
  padding: 10px;
  gap: 8px;

}
.buttons
{
  margin-left: 200px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
  margin-left: 70px;
}