* {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  text-align: center;
  grid-template-areas:
"header header header"
"sidebar nav nav"
"sidebar article article"
"footer footer footer";

}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.logo
{
  justify-self: left;
}
.header {
  display: grid;
  grid-area: header;
  grid-template-columns: repeat(2, 2fr);
  background-color: #393f4d;
}

.menu ul,
.menu li {
  display: grid;
  grid-row: 1;
  font-size: 16px;
}

.sidebar {
  border-right: solid white 5px;
  border-top: solid white 5px;
  grid-area: sidebar;
  display: grid;
  grid-template-rows: repeat(4, minmax(150px, 1fr));
  background-color: #C50208;
  gap: 50px;

}

.sidebar .photo {
  display: grid;
  background-color: white;
  align-items: center;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}


.sidebar .side-content {
  display: grid;
  align-content: center;
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav {
  display: grid;
  border-bottom: solid white 5px;
  border-top: solid white 5px;
  grid-area: nav;
  background-color: #C50208;
}

.nav ul li {
  display: grid;
  font-size: 16px;
  text-transform: uppercase;
}
.nav ul
{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.article {
  display: grid;
  grid-area: article;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 15px;
  background-color: #bccbde;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  height: 200px;
  background-color: #FFFFFF;
  color: black;
  text-align: center;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
  padding: 5px;

}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  border-top: solid white 5px;
  grid-area: footer;
  grid-column: 1 / 4;

  background-color: #393f4d;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}